<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
	<appSettings>
		

		<add key="html_root_path" value="https://s3-us-west-2.amazonaws.com/shiftreports2"/>
		
		<add key="html_folder_path" value="/sr"/>
		<add key="emailhost" value="172.31.25.102" /><!-- Email the SR Server-->
		<add key="shiftreport" value="Data Source=srprod.cknbp1lz02qc.us-west-2.rds.amazonaws.com;Initial Catalog=sr_prod;Persist Security Info=True;User ID=shiftreports;Password=Faith4soft#;Connect Timeout=10000"/>
		<add key="triggretime" value="8:00"/>
		<!-- Email the QA Server-->
		<!--
		<add key="html_folder_path" value="/qa"/>
    <add key="emailhostTest" value="172.31.29.141" /> 
		<add key="shiftreport" value="Data Source=shiftreportsqa.cknbp1lz02qc.us-west-2.rds.amazonaws.com;Initial Catalog=bpshiftreports;Persist Security Info=True;User ID=shiftreports;Password=Faith4soft#;Connect Timeout=10000"/>
		<add key="triggretime" value="8:00"/>
		-->
		<!-- Email the BP Server -->
		<!--
		<add key="html_folder_path" value="/bp"/>
		<add key="emailhostTest" value="172.31.30.204" /> 
		<add key="shiftreport" value="Data Source=shiftreportsdb.cwcmefiukdof.us-west-2.rds.amazonaws.com;Initial Catalog=bpshiftreports;Persist Security Info=True;User ID=shiftreports;Password=Faith4soft;Connect Timeout=10000"/>
		<add key="triggretime" value="8:00"/>
		-->	
	</appSettings>
 
</configuration>