<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 --></configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <appSettings>
    <add key="html_folder_path" value="https://s3-us-west-2.amazonaws.com/shiftreports2/qa" />
    <add key="emailhost" value="172.31.29.141" />
    <add key="shiftreport" value="Data Source=shiftreportsqa.cknbp1lz02qc.us-west-2.rds.amazonaws.com;Initial Catalog=bpshiftreports;Persist Security Info=True;User ID=shiftreports;Password=srdb123456#;Connect Timeout=10000" />
    <add key="triggretime" value="8:00" />
  </appSettings>
	<connectionStrings>
	<add name="shiftreports" providerName="System.Data.SqlClient" connectionString="Data Source=shiftreportsqa.cknbp1lz02qc.us-west-2.rds.amazonaws.com;Initial Catalog=bpshiftreports;Persist Security Info=True;User ID=shiftreports;Password=srdb123456#;Connect Timeout=10000" />
	
	</connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>