<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301879
  -->
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="NotificationEmail" value="henry@shiftreports.com" />
    <add key="PortalUrl" value="http://bp.shiftreports.com/Manager/" />
    <add key="ReportsPath" value="C://Reports/" />
    <add key="CashReportsPath" value="C://Cash_Reports/" />
    <add key="ReportsPathTest" value="D://Reports/" />
    <add key="AWSProfileName" value="default" />
    <add key="AWSRegion" value="us-west-2" />
    <!-- Email the SR Server-->
    <add key="emailhost" value="172.31.40.3" />
    <!-- Email the BP Server -->
    <add key="html_root_path" value="https://s3-us-west-2.amazonaws.com/shiftreports2" />
    <add key="html_folder_path" value="/qa" />
    <add key="venuecash_email_url" value="http://localhost:51561/Content/venuecash-email-template" />
    <add key="clickbankkey" value="KZ7C8B9TJJQ53TY4" />
    <add key="payapl_clinetid" value="/" />
    <add key="yelp_appid" value="G6CbmlMY8GktHvc6nc_ZkA" />
    <add key="yelp_appsecrit" value="710RAlqE43vv7MuZLftS2BNzZcjMYsusd9yoVyqyccvpf8ZoIIgqCYYb3LyOpU73" />
    <add key="yelp_Consumer_Key" value="DynJQ2eMICzeBGpINY22Wg" />
    <add key="yelp_Consumer_Secret" value="WOHcqc7Keq6In1vTD9TopHPwxpE" />
    <add key="yelp_Token" value="PEaQlalXtVqYTTmQKaztF4gAGr47MHmp" />
    <add key="yelp_Token_Secret" value="a1_GIfYYqqNZmmtTn2V1Vejz0dg" />
    
    <!-- PayPal Credentials -->
    <!-- live -->
    <add key="Paypal_mode" value="live" />
    <add key="Paypal_ClientID" value="AV8Hl_oI3XJoi3HswWJyPVUZcGZkV-Zh9vIubnRP80p_YPM_025-d24kBlVY16bKeqUUzXQB0NRAaXVI" />
    <add key="Paypal_Secret" value="EIrE_0wOpxhquP7eQlEPlIwbvGrtMJhPmM7xBFb-Fqc36IHMLYVUAvvpXpoIae1VmfvqfWbojX_abWjT" />

    <!-- sandbox
    <add key="Paypal_mode" value="sandbox" />
    <add key="Paypal_ClientID" value="Aa3fQicf6E747E5Snc9I2XgEmGbOIyKBTkmVHDfU6BfjD6mSn-7goLwYSSrOYuUrbD6Ifb5CzQa7R_BH" />
    <add key="Paypal_Secret" value="EE4BJAi8KirBrsu11CDWhKzhIxmoYxwuw0ZL7StRcSrvxC524vA3-KJndFQgDJxoyuBu-Q7byo9YiLMW" />
     -->
    <!-- PayPal Credentials -->
    
    <!--AWSProfileName is used to reference an account that has been registered with the SDK.
If using AWS Toolkit for Visual Studio then this value is the same value shown in the AWS Explorer.
It is also possible to register an account using the <solution-dir>/packages/AWSSDK-X.X.X.X/tools/account-management.ps1 PowerShell script
that is bundled with the nuget package under the tools folder.

    <add key="AWSProfileName" value="" />
-->
  </appSettings>
  <connectionStrings>
    <!-- Connection String for the qa server to isolate it from the main data this is for the employee functionality -->
    <!--- Main Data -->
    <add name="shiftreport" providerName="System.Data.SqlClient" connectionString="Data Source=srdb.shiftreports.com;Initial Catalog=sr_prod;Persist Security Info=True;User ID=shiftreports;Password=srdb123456#;Connect Timeout=10000" />
    <!-- Dashboard -->
    <!-- Connection String for the qa server server-->
    <add name="DefaultConnection" providerName="System.Data.SqlClient" connectionString="Data Source=srdb.shiftreports.com;Initial Catalog=shiftreports_admin;Persist Security Info=True;User ID=shiftreports;Password=srdb123456#;Connect Timeout=10000" />
    <!-- Connection String for the prod server-->
  </connectionStrings>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5" />
      </system.Web>
  -->
  <system.web>
    <customErrors mode="Off" />
    <compilation debug="true" targetFramework="4.5.2" />
    <httpRuntime targetFramework="4.5" executionTimeout="1000" />
    <httpModules>
      <add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web" />
    </httpModules>
  </system.web>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-7.0.0.0" newVersion="7.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <modules>
      <remove name="ApplicationInsightsWebTracking" />
      <add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web" preCondition="managedHandler" />
    </modules>
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
  </system.webServer>
</configuration>