<div class="login-box">
    <div class="login-logo">
        <a href="../../index2.html"><b>Shift Reports</b></a>
    </div><!-- /.login-logo -->
    <div class="login-box-body">
        <p class="login-box-msg">Enter your email to get your password</p>

        
            <div class="form-group has-feedback">
                <input type="email" class="form-control" placeholder="Email Address" ng-model="cashier_email">
                <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
            </div>
 
            <div class="row">
 
                <div class="col-xs-12">
                    <button type="submit" class="btn btn-warning btn-block btn-flat" ng-click="forgotPassword()">Submit Forgot Password Request</button>
                </div><!-- /.col -->
            </div>
      
 <br />
        <button class="btn btn-link" ng-click="login()">Login</button><br>
    </div><!-- /.login-box-body -->
</div><!-- /.login-box -->
 




<div class="modal modal-danger" id="errorPasswordModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Warning</h4>
            </div>
            <div class="modal-body">
                <p>Your password has not been sent to your email, please check your email address and try again.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline pull-right" data-dismiss="modal">Ok</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
