<!--<div class="col-sm-12">
    <div class="row">
        <div class="col-sm-3"></div>
        <div class="col-sm-5" style="margin-top:20px;">
            <a href="#mobile-cash-business-login-2" class="btn btn-default btn-sm pull-left" style="width:100%;">
                <span class="glyphicon glyphicon-plus pull-left"></span>
                <strong>Cashier Log In</strong>
            </a>

        </div>
        <div class="col-sm-3"></div>

    </div>


    <div class="row">
        <div class="col-sm-3"></div>
        <div class="col-sm-5" style="margin-top:20px;">
            <a href="#" class="btn btn-default btn-sm pull-left" style="width:100%;">
                <span class="glyphicon glyphicon-plus pull-left"></span>
                <strong>Sign Up</strong>
            </a>

        </div>
        <div class="col-sm-3"></div>
    </div>
</div>
    -->

<div class="col-md-12" style="margin-bottom:23%;">
    <div class="modal-dialog" style="margin-bottom:0">
        <div class="modal-content">
            <div class="panel-heading">
                <h3 class="panel-title">SHIFT REPORTS</h3>
            </div>

            <div class="panel-body" style="margin-bottom:15px;">
                <form role="form">
                    <fieldset>

                        <div class="form-group " style="margin-top:30px;">
                            <a href="mobile-cash-business-login-2" class="btn btn-primary btn-lg center-block" style="width:80%;">
                                <span class="fa fa-sign-in fa-2x pull-left adp-fa" style=""></span>
                                <strong>Cashier Log In</strong>
                            </a>

                        </div>
                        <div class="form-group">
                            <a href="http://shiftreports.com/sign-up.html" class="btn btn-primary btn-lg center-block" style="width:80%;">
                                <span class="fa fa-pencil-square-o fa-2x adp-fa pull-left"></span>
                                <strong>Sign Up</strong>
                            </a>
                        </div>


                    </fieldset>
                </form>
            </div>
        </div>
    </div>
</div>
