<div class="box">

    <div class="row billsSection" style="margin-top:30px;">

        <div class="col-sm-4 text-center">
            <!--MOP SALES - REGISTER 1-->
            <table class="table borderless">
                <thead style="border-bottom:solid;border-width:1px;">
                    <tr>
                        <ht><strong style="font-size:13px;">MOP SALES - REGISTER 1</strong></ht>
                    </tr>
                </thead>
                <tr>
                    <td>
                        <div class="form-group">
                            <label class="col-sm-4 control-label">Credit</label>
                            <div class="col-sm-8">
                                <input type="number" min="0" string-to-number class="form-control" placeholder="0.00" ng-model="shift.MS_R1_Credit" ng-change="updateField()">
                            </div>

                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="form-group">
                            <label class="col-sm-4 control-label">Debit</label>
                            <div class="col-sm-8">
                                <input type="number" min="0" string-to-number class="form-control" placeholder="0.00" ng-model="shift.MS_R1_Debit" ng-change="updateField()">
                            </div>

                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="form-group">
                            <label class="col-sm-4 control-label">Cash</label>
                            <div class="col-sm-8">
                                <input type="number" min="0" string-to-number class="form-control" placeholder="0.00" ng-model="shift.MS_R1_Cash" ng-change="updateField()">
                            </div>

                        </div>
                    </td>
                </tr>


            </table>

        </div>
        <div class="col-sm-4 text-center">
            <!--MOP SALES - REGISTER 2-->
            <table class="table borderless">
                <thead style="border-bottom:solid;border-width:1px;">
                    <tr>
                        <ht><strong style="font-size:13px;">MOP SALES - REGISTER 2</strong></ht>
                    </tr>
                </thead>
                <tr>
                    <td>
                        <div class="form-group">
                            <label class="col-sm-4 control-label">Credit</label>
                            <div class="col-sm-8">
                                <input type="number" min="0" string-to-number  class="form-control" placeholder="0.00" ng-model="shift.MS_R2_Credit" ng-change="updateField()">
                            </div>

                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="form-group">
                            <label class="col-sm-4 control-label">Debit</label>
                            <div class="col-sm-8">
                                <input type="number" min="0" string-to-number  class="form-control" placeholder="0.00" ng-model="shift.MS_R2_Debit" ng-change="updateField()">
                            </div>

                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="form-group">
                            <label class="col-sm-4 control-label">Cash</label>
                            <div class="col-sm-8">
                                <input type="number" min="0" string-to-number  class="form-control" placeholder="0.00" ng-model="shift.MS_R2_Cash" ng-change="updateField()">
                            </div>

                        </div>
                    </td>
                </tr>

            </table>
        </div>
        <div class="col-sm-4 text-center">
            <!-- MOP SALES - ALL REGISTERS -->
            <table class="table borderless">
                <thead style="border-bottom:solid;border-width:1px;">
                    <tr>
                        <ht><strong style="font-size:13px;">MOP SALES - ALL REGISTERS</strong></ht>
                    </tr>
                </thead>
                <tr>
                    <td>
                        <div class="form-group">
                            <label class="col-sm-4 control-label">Credit</label>
                            <div class="col-sm-8">
                                <input type="number" min="0" string-to-number  class="form-control" placeholder="0.00" ng-model="shift.MS_R3_Credit" ng-change="updateField()">
                            </div>

                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="form-group">
                            <label class="col-sm-4 control-label">Debit</label>
                            <div class="col-sm-8">
                                <input type="number" min="0" string-to-number  class="form-control" placeholder="0.00" ng-model="shift.MS_R3_Debit" ng-change="updateField()">
                            </div>

                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="form-group">
                            <label class="col-sm-4 control-label">Cash</label>
                            <div class="col-sm-8">
                                <input type="number" min="0" string-to-number  class="form-control" placeholder="0.00" ng-model="shift.MS_R3_Cash" ng-change="updateField()">
                            </div>

                        </div>
                    </td>
                </tr>

            </table>
        </div>

    </div>


</div><!-- box -->