<div class="box">
    <div class="row">
        <div class="col-sm-6">
            <h3>App Summary</h3>
        </div>

        <div class="col-sm-6">
            <a ng-if="cashierName==null" href="mobile-cash-business-login" class="btn btn-primary btn-flat pull-right" style="margin-top:10px;">Login</a>
            <a ng-if="cashierName!=null" ng-click="goBackToTheApp()" class="btn btn-primary btn-flat pull-right" style="margin-top:10px;">Back to the app</a>
        </div>

    </div>
    <hr />
    <div class="row">
        <div class="col-sm-12">
            <iframe style="width:100%;height:500px"
                    src="http://www.youtube.com/embed/F2kkTKHHiu8?autoplay=0" frameborder="0" allowfullscreen="true"></iframe>
        </div>
    </div>


    <div class="container">
               
             <p><span style="font-size: 20pt;"><font color="#336699">Read step-by-step instructions</font></span></p>
            <p><span style="color: #336699; font-size: 22pt"><b>1.</b></span> We will start by logging in using the id and password that we received from our manager.</p>

            <p></p><div align="center"><img src="images/videotut/summary/1.png" class="img-responsive"></div><p></p>
            <div align="center"><p><span style="color: red;font-size: 14pt">*In addition, you can check your email account for an email sent to you by Shift Reports with your login credentials.* </span></p></div>
            <hr>
            <p><span style="color: #336699; font-size: 22pt"><b>2.</b></span> Then, we will select the shift we are reporting for.</p>
            <p></p><div align="center"><img src="images/videotut/summary/2.png" class="img-responsive"></div><p></p>
            <hr>
            <p><span style="color: #336699; font-size: 22pt"><b>3.</b></span>Once we successfully login, we will come to the Opening Cash Drawer. </p>
            <p></p><div align="center"><img src="images/videotut/summary/3.png" class="img-responsive"></div><p></p>
            <hr>
            <p><span style="color: #336699; font-size: 22pt"><b>4.</b></span> The Shift reports app is composed of Opening<sup><font color="red"><b>1</b></font></sup> and Closing<sup><font color="red"><b>2</b></font></sup> cash drawers, Safe Drops<sup><font color="red"><b>3</b></font></sup>, MOP Sales<sup><font color="red"><b>4</b></font></sup>, Shift Details<sup><font color="red"><b>5</b></font></sup>, and the Review and Submit<sup><font color="red"><b>6</b></font></sup> tab. </p>
            <p></p><div align="center"><img src="images/videotut/summary/4.png" class="img-responsive"></div><p></p>
            <hr>
            <p><span style="color: #336699; font-size: 22pt"><b>5.</b></span> Let’s start with the Cash drawers. We will enter in the number of pieces of bills, coins, and rolled coins.  As we enter the number of pieces of bills or coins – the app will automatically calculate the total dollar value in the drawers at the top here in green. </p>
            <p></p><div align="center"><img src="images/videotut/summary/5.png" class="img-responsive"></div><p></p>
            <hr>
            <p><span style="color: #336699; font-size: 22pt"><b>6.</b></span> The next tab is the Safe Drops.  In this tab we simply enter in the individual safe drops we made throughout our shift by entering the dollar value of each drop.</p>
            <p></p><div align="center"><img src="images/videotut/summary/6.png" class="img-responsive"></div><p></p>
            <hr>
            <p><span style="color: #336699; font-size: 22pt"><b>7.</b></span> On the Sales Info tab, also known as the MOP sales - which stands for Method of Payments. In this tab, it is necessary to enter in the MOP Sales for at least the fields in All Registers. We have the option to enter the sales in Register 1 and 2 in addition to All Registers. </p>
            <p></p><div align="center"><img src="images/videotut/summary/7.png" class="img-responsive"></div><p></p>
            <hr>
            <p><span style="color: #336699; font-size: 22pt"><b>8.</b></span> The Shift Details tab contains the shift times that we will enter from the POS Shift Report receipt after we closed out our shift, and a checklist that we are responsible for completing and checking off. </p>
            <p></p><div align="center"><img src="images/videotut/summary/8.png" class="img-responsive"></div><p></p>
            <hr>
            <p><span style="color: #336699; font-size: 22pt"><b>9.</b></span> When we complete the shift and entered all the shift details from all the tabs in the app, we can review the entries in this tab. If everything looks correct, we will scroll all the way to the bottom of the page and click the "Approve and Submit Shift" button. </p>
            <p></p><div align="center"><img src="images/videotut/summary/9.png" class="img-responsive"></div><p></p>
            <hr>
            <br>
            <br>
     

    </div>


</div>