<div class="box">
    <div class="row">
        <div class="col-sm-6">
            <h3>Cash Drawers</h3>
        </div>

        <div class="col-sm-6">
            <a ng-if="cashierName==null" href="mobile-cash-business-login" class="btn btn-primary btn-flat pull-right" style="margin-top:10px;">Login</a>
            <a ng-if="cashierName!=null" ng-click="goBackToTheApp()" class="btn btn-primary btn-flat pull-right" style="margin-top:10px;">Back to the app</a>
        </div>

    </div>
    <hr />
    <div class="row">
        <div class="col-sm-12">
            <iframe style="width:100%;height:500px"
                    src="http://www.youtube.com/embed/Z8XJY7qWqNY?autoplay=0" frameborder="0" allowfullscreen="true"></iframe>
        </div>
    </div>


    <div class="container">
            <hr>
            <span style="font-size: 20pt;"><p><font color="#336699">Read step-by-step instructions</font></p></span>
            <br>
            <p><span style="color: #336699; font-size: 22pt"><b>1.</b></span> On the opening drawer. You will enter any number of pieces of bills, coins, and rolled coins that you are counting - not the dollar value. For example, if I had 2 fifties, I would enter 2 here not 100. Your total will be displayed in green automatically.</p>
            <div align="center"><img src="images/videotut/drawer/1.png" class="img-responsive"></div>
            <hr>
            <p><span style="color: #336699; font-size: 22pt"><b>2.</b></span> If I enter 1 in the twenties field, the total will increase to 120 dollars.</p>
            <div align="center"><img src="images/videotut/drawer/2.png" class="img-responsive"></div>
            <hr>
            <p><span style="color: #336699; font-size: 22pt"><b>3.</b></span> Coins are done in the same way -  if i have 3 quarters I enter in 3 not 75. As you can see the total increased by 75 cents once i entered 3.</p>
            <div align="center"><img src="images/videotut/drawer/3.png" class="img-responsive"></div>
            <hr>
            <p><span style="color: #336699; font-size: 22pt"><b>4.</b></span> Rolled coins are done the same way. You enter the number of rolled coins that you have for quarters, dimes, nickels, and pennies. For example if I have 3 rolled dimes - that would be equivalent to 15 dollars. So the total value would change to $135.75.</p>
            <div align="center"><img src="images/videotut/drawer/4.png" class="img-responsive"></div>
            <hr>

            <span style="color: red; font-size: 14pt">*You enter the information the same way for the closing drawer tab by entering the number of pieces for each type of bill, coin, and rolled coins.*</span>
   
    </div>


</div>