<div class="box">
    <div class="row">
        <div class="col-sm-6">
            <h3>Checklists,review and submit</h3>
        </div>

        <div class="col-sm-6">
            <a ng-if="cashierName==null" href="mobile-cash-business-login" class="btn btn-primary btn-flat pull-right" style="margin-top:10px;">Login</a>
            <a ng-if="cashierName!=null" ng-click="goBackToTheApp()" class="btn btn-primary btn-flat pull-right" style="margin-top:10px;">Back to the app</a>
        </div>

    </div>
    <hr />
    <div class="row">
        <div class="col-sm-12">
            <iframe style="width:100%;height:500px"
                    src="http://www.youtube.com/embed/DXbt-lY2ssg?autoplay=0" frameborder="0" allowfullscreen="true"></iframe>
        </div>
    </div>


    <div class="container">

            <hr>
            <span style="font-size: 20pt;"><p><font color="#336699">Read step-by-step instructions</font></p></span>
            <p><span style="color: #336699; font-size: 22pt"><b>1.</b></span>The Shift Details Tab consists of your Opening and Closing Shift Times<sup><font color="red"><b>1</b></font></sup>, and a checklist<sup><font color="red"><b>2</b></font></sup> that you are responsible to check off every shift with the exception of the Special Situations section. </p>
            <div align="center"><img src="images/videotut/checklist/1.png" class="img-responsive"></div>
            <hr>
            <p>
                <span style="color: #336699; font-size: 22pt"><b>2.</b></span>On the Shift Details tab. You will notice at the top fields where you enter your opening and closing shit times that you logged onto your POS system when you close your shift - you should check with your shift report receipt and copy the times from the receipt here. You will enter the times in military format. For example, my shift opening time could be 0700 and my shift closing time can be 1500.
            </p><p></p><div align="center"><img src="images/videotut/checklist/2.png" class="img-responsive"></div><p></p>
            <hr>
            <p>
                <span style="color: #336699; font-size: 22pt"><b>3.</b></span>If you were unable to complete a task because of a legitimate reason such as you weren’t able to clean the bathrooms because the lights went out during your shift - you may leave this task un-checked and explain the situation to your manager in the “Notes for Management”.
                If there’s anything you would like to share with management please use the “Notes for Management” area to write your comments.
            </p>
            <p></p><div align="center"><img src="images/videotut/checklist/3.png" class="img-responsive"></div><p></p>
            <hr>
            <p><span style="color: #336699; font-size: 22pt"><b>4.</b></span>The Review and Submit Tab, in order to submit it successfully to your manager, please review the information here for accuracy and if everything is correct, then you will click  the “Approve and Submit Shift Report” button.</p>
            <p></p><div align="center"><img src="images/videotut/checklist/4.png" class="img-responsive"></div><p></p>

      
    </div>


</div>