<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Debug</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://enterprise-qa.shiftreports.com:80/V1.0b</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>http://enterprise-qa.shiftreports.com:8172/msdeploy.axd</MSDeployServiceURL>
    <DeployIisAppPath>Default Web Site</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>RemoteAgent</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>haiwa80</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="shiftreport" Order="1" Enabled="False">
          <Destination Path="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="shiftreportapp.data.AppModel, ShiftReportApi" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="shiftreportBP" Order="3" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=shiftreportsdb.cwcmefiukdof.us-west-2.rds.amazonaws.com;Initial Catalog=bpshiftreports;Persist Security Info=True;User ID=shiftreports;Password=Faith4soft" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\shiftreportBP_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=shiftreportsdb.cwcmefiukdof.us-west-2.rds.amazonaws.com;Initial Catalog=bpshiftreports;Persist Security Info=True;User ID=shiftreports;Password=Faith4soft" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="shiftreportEn" Order="4" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=shiftreports.cucx7zw3cbje.us-west-2.rds.amazonaws.com;Initial Catalog=shiftreportsdb;Persist Security Info=True;User ID=shiftreports;Password=Faith4soft#" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\shiftreportEn_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=shiftreports.cucx7zw3cbje.us-west-2.rds.amazonaws.com;Initial Catalog=shiftreportsdb;Persist Security Info=True;User ID=shiftreports;Password=Faith4soft#" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)shiftreportBP-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)shiftreportEn-Web.config Connection String" />
  </ItemGroup>
</Project>